NODE_ENV=development
COMPOSE_PROJECT_NAME=io-onboarding

IO_ONBOARDING_PA_API_HOST=http://localhost
IO_ONBOARDING_PA_API_PORT=3000
IO_ONBOARDING_PA_SHOW_FAKE_IDP=1
IO_ONBOARDING_PA_IS_MOCK_ENV=0

# Lets parcel watch file changes on win32
CHOKIDAR_USEPOLLING=1
