.AppAlert {
    left: 0;
    right: 0;
    width: 75%;
    z-index: 1050;
    position: absolute;
}

.AppAlert .alert {
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
