.Home {
    text-align: center;
}
.Home .custom-background-container {
    background-image: linear-gradient(270deg, #0066CC 26%, #0C00D3 78%);
}

.Home .io-icon-home {
    margin-top: 156px;
}

.Home .home-title {
    font-size: 36px;
    letter-spacing: 0;
}

.Home .home-title-mt {
    margin-top: 100px;
}

.Home .home-text {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}

.Home .home-text-mt {
    margin-top: 96px;
}

.Home .home-btn {
    width: 300px;
    height: 44px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.26px;
}

.Home .home-btn-first-mt {
    margin-top: 30px;
}

.Home .home-btn-mt {
    margin-top: 44px;
}

.Home .home-row-logos {
    margin-top: 156px;
}
