.InstitutionCard .institution-name {
    font-size: 36px;
    color: #17314D;
    letter-spacing: 0;
}

.InstitutionCard .institution-cf {
    font-size: 24px;
    color: #17314D;
    letter-spacing: 0;
}
