body {
  font-size: 16px;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.65rem;
}

.small {
  font-size: 0.75rem;
}

.form-group label {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

.form-check [type=radio]+label {
  font-size: 16px;
}

.card:after {
  margin: 0;
  height: 0;
}
